<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar>
    <ion-title>Les<ion-text color="primary">Sous</ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flex-center">
    <ion-card class="login-card">

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-button color="primary">Se connecter</ion-button>
          </ion-row>
          <ion-row>
            <ion-button color="danger" fill="clear">S'inscrire</ion-button>
          </ion-row>
        </ion-grid>
        <div style="display: flex;">




        </div>

      </ion-card-content>
    </ion-card>
  </div>


</ion-content>